<%= form_for(@core_stuff) do |f| %>
  <% if @core_stuff.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@core_stuff.errors.count, "error") %> prohibited this core_stuff from being saved:</h2>

      <ul>
      <% @core_stuff.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :core %><br>
    <%= f.text_field :core %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
