<%= form_for(@back_stuff) do |f| %>
  <% if @back_stuff.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@back_stuff.errors.count, "error") %> prohibited this back_stuff from being saved:</h2>

      <ul>
      <% @back_stuff.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :back %><br>
    <%= f.text_field :back %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
